.card-title{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color : black;
}

.card-title:hover
{
    color : rgb(245, 19, 19);
}

.card-text {
    font-size: 10px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card-link{
    font-size: 8px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


h3 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
